body{
    background-color: var(--bkg-color);
    margin: 0;
    padding: 0;
    user-select: none;
}

/*------------NAV------------*/

nav{
    justify-content: space-between;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,33%);
    align-items: center;
    height: 3vh;
    background-color: var(--accent-color);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

nav>.setdiv{
    margin-left: 2vh;
    display: flex;
    width: 100%;
    justify-content:left;
}


nav>.setdiv>button{
    background-color: var(--accent-color);
    border: none;
    color: white;
    font-size: 3vh;
    font-family: feshfont;
    font-weight: 600;

    border-radius: 1vh;
}

nav>.setdiv>button:hover{
    background-color: #505050;
}
nav>.titlediv{
    display: flex;
    width: max-content;
    align-self: center;
    align-items: center;
}

nav>.titlediv>button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 3vh;
    font-family: feshfont;
}

#title{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 3vh;
    font-family: var(--text-font);
    width: 17vh;
    color:var(--text-color);
    margin-left: 1vh;
    margin-right: 1vh;
    font-weight: 800;
}


nav>.settingsdiv{
    height: 3vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-self: center;
    align-items: center;
}


#search{
    display: flex;
    height: 100%;
    width: auto;
    align-self: center;
    align-items: center;
    margin-right: 1vh;
}

#glass{
    height: 2vh;
    width: auto;
}

#search > input{
    display: flex;
    caret-color:white;
    height: 2vh;
    width: 15vh;
    margin: 0;
    padding:0;
    background-color: var(--bkg-color);
    border: none;
    text-transform: uppercase;
    font-family: MinoFont;
    color:white;
    font-weight: 800;
    letter-spacing: 0.3vh;
}

#search > input:focus{
    outline-width: 0;
}

/*---------------------------*/




/*----------IFRAME-----------*/


iframe{
    width: 100%;
    height: calc(100% - 5vh);
    padding: 0;
    margin:0;
}



/*--------MD STUFF-----------*/

#content{
    color: white;
    margin-left: 0;
}

