::-webkit-scrollbar{
    width: 0;
}



body{
    color:var(--text-color);
    background-color: var(--bkg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fumendiv{
    display: flex;
    flex-direction: row;
}

#fumendiv > div{
    border:10px solid #101010;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: pixe;
    font-size: 25px;
}

#twopiece{
    width: 50px;
}

.fumen{
    aspect-ratio: 220 / 92;

    height: auto;
    background-color: var(--bkg-color);
    border-radius: min(0.3vw,10px);
    margin-left:min(25px,2vw);
    margin-right:min(25px,2vw);
    width: min(17vw,220px);
    height: auto;
    transition: all 0.25s;
}

.fumen.active{
    border: 1px solid white;
    width: min(18vw,230px);
}

.fumen:not(.active){
    border: 1px solid transparent;
}


body > div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: min(1200px,90%);
    background: var(--accent-color);
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    border-radius:min(2vw,20px);
    border:1px var(--border-color);
    margin-bottom:max(75px,3vw);
    color:var(--accent-text-color);
    transition: all 0.5s;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body > div > *{
    display: flex;
    justify-content: center;
}

body > div > div > div{
    display: flex;
    justify-content: center;
}

body > div > .collapsible{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.solutions{
    border: 1px var(--border-color);
    border-radius: 0.5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s;
}

.hidden{
    display: none;
}
/*
.solutions:not(.hidden){
    animation: solution_enter 1s cubic-bezier(.68,.09,.25,.99);
}

.solutions:not(.hidden) > *:not(h4){
    animation: solution_enter_children 1s cubic-bezier(.68,.09,.25,.99);
}

@keyframes solution_enter {
    0%{
        max-height: 0;
    }


    100%{
        max-height: 1000px;
        opacity: 1;
    }
}

@keyframes solution_enter_children {
    0%{
        opacity: 0;
        display: flex;
    }
    100%{
        opacity: 1;
        display: flex;
    }
    
}

*/

.line{
    position: relative;
    width: 100%;
    border: 1px var(--border-color);
}

.line > h4 > img{
    aspect-ratio: 1/1;
    width: 0.75vw;
    height: 0.75vw;
    max-width: 220px;
    max-height: 110px;
    margin: 0;
    transition: all 0.2s;
}

.line > h4 > img.rotate{
    transform: rotate(-90deg);
}

.space{
    width: 100%;
    height:min(20px,5vw);
}

.content.hidden{
    display: none;
}

.hidden{
    display: none;
}

h1{
    font-size: min(3vw,30px);
    display: flex;
    justify-content: center;
    font-family: madly;
    color:var(--accent-text-color);
}

h2{
    position: absolute;
    top: 0;
    margin: 0;
    padding:0;
    transform: translateY(-50%);
    background-color: var(--accent-color);
    border: 1px var(--border-color);
    border-radius: min(0.5vw,10px);
    left:20px;
    padding-left: min(10px,2vw);
    padding-right: min(10px,2vw);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: min(2vw, 25px);
    
}

h4{
    font-family: madly;
    position: absolute;
    top: 0;
    margin: 0;
    padding:0;
    background-color: var(--accent-color);
    transform: translateY(-50%);
    left:20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: min(2vw,25px);
    color:var(--text-color);
    font-family:Karla;
    font-weight:normal;
    
}


h3{
    display: flex;
    font-family: Karla;
    font-weight: normal;
    font-size: min(3vw,20px);
    padding: 0;
    margin: 0;
    justify-content: center;
    color:var(--text-color)
}
span{
    justify-content: center;
    background-color: transparent;
    cursor:default;
    margin: 0;
    border: 0;
    color:white;
    font-family: MinoFont;
    color: #868686;
    user-select: none;
    letter-spacing: 2px;
    padding-left: 2px;
}

#rightclick{
    padding: 0;
    margin: 0;
	opacity: 1;
	position: fixed;
	width: 150px;
	background-color: #292a2d;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
    justify-content: left;
	box-shadow: #000000 10px;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    transition: none;
}
#rightclick.hidden{
	top:-1000px;
	left:-1000px;
}

#rightclick > span{
	padding: 5px;
	padding-left:20px;
	font-size:13px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    letter-spacing: 0px;
}


#rightclick > span:hover{
	background-color: #3A3C40;
}



.T{
    color:#9739a2
}
/*
.T:hover{
   color:#d958e9 
}
*/
.I{
    color:#42afe1
}
/*
.I:hover{
    color:#6ceaff
}
*/
.J{
    color:#1165b5
}
/*
.J:hover{
    color:#339bff
}
*/

.L{
    color:#f38927
}
/*
.L:hover{
    color:#ffba59
}
*/
.O{
    color:#f6d03c
}
/*
.O:hover{
    color:#ffff7f
}
*/

.S{
    color:#51b84d
}

/*
.S:hover{
    color:#84f880
}
*/

.Z{
    color:#eb4f65
}
/*
.Z:hover{
    color:#ff7f79
}
*/
a{
    text-decoration: none;
}